body{
  font-family: Arial;
  text-align: center;
  background: linear-gradient(rgba(39, 28, 199, 0.3), rgba(182, 25, 5, 0.774));
  background-size: cover;
	background-position: center;
  background-position: center;
	background-attachment: fixed;
}

#main-title {
  font-family: 'Shojumaru', cursive;
  margin: 40px;
  font-size: 55px;
}

#main-section {
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
}

#grid-container {
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
  width: 450px;
  height: 450px;
  margin-right: 40px;
  border: 10px solid rgb(3,3,3);
  border-radius: 8px;
}

.grid-block {
  outline: 2px solid rgb(3,3,3);
  width: 150px;
  height: 150px;
}

.first-player {
  background-image: url("images/o-brush.png");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: 70px 70px;
}

.computer-player {
  background-image: url("images/x-brush.png");
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: 70px 70px;
}

.player-title{
  display: inline-block;
  margin-right: 40px;
}

.players-display{
  width: 100px;
  height: 100px;
  display: inline-block;
}

.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 40%; 
  height: 40%; 
  overflow: auto; 
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.8); 
}